.Top_container{
    display: flex;
    width: 1vw;
    height: 10vh;
}

.Top_container *{
    margin: 0px 10vw;
    min-width: 20vw;
    height: 100%;
}

.Top_container h1{
    flex-grow: 1;
}

.TopButtonContainer{
    margin-left: 5vw;
    height: 100%;
}