.startPageButtonContainer {
    margin: 25vh auto;
    padding: auto;
    vertical-align: middle;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    width: 50vw;
}

.startPageButtonContainer > button {
    margin-top: 10px;
    width: 100%;
    font-size: 1.5rem;
}